
@{
    ViewBag.Title = "صفحه خانه";
}

<main>

    <div>
        <div>
            <h2>تخفیفات <img src="~/image/discount (1).png" alt=""></h2>
            <h2>مشاهده همه <img src="~/image/left.png" alt=""></h2>
        </div>
        <ul>
            <li>
                <img src="~/image/Product/Product1.jpg" alt="">
                <h3> کرم پودر پلاس SPF10 روبی سان</h3>
                <h5>400,000</h5>
                <div>
                    <h4>280,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>

            </li>
            <li>
                <img src="~/image/Product/Product2.jpg" alt="">
                <h3>رژ لب جامد حاوی ویتامین E روبی سان</h3>
                <h5>195,000</h5>

                <div>
                    <h4>136,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product3.jpg" alt="">
                <h3> کانسیلر مایع روبی سان</h3>
                <h5>220,000</h5>
                <div>
                    <h4>154,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product4.jpg" alt="">
                <h3>هایلایتر پودری روبی سان</h3>
                <h5>255,000</h5>

                <div>
                    <h4>178,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
        </ul>
    </div>

    <div>
        <ul>
            <li>
                <img src="~/image/eyeliner.png" alt="">
                <h3>آرایش چشم</h3>
            </li>
            <li>
                <img src="~/image/foundation.png" alt="">
                <h3>آرایش صورت</h3>
            </li>
            <li>
                <img src="~/image/make-up (1).png" alt="">
                <h3>لوازم جانبی </h3>
            </li>
            <li>
                <img src="~/image/lip-matt.png" alt="">
                <h3>آرایش لب</h3>
            </li>
            <li>
                <img src="~/image/eyebrow.png" alt="">
                <h3>آرایش ابرو</h3>
            </li>
            <li>
                <img src="~/image/nail.png" alt="">
                <h3>آرایش ناخن</h3>
            </li>
            <li>
                <img src="~/image/brush.png" alt="">
                <h3>براش آرایشی </h3>
            </li>

        </ul>
    </div>

    <div>
        <ul>
            <li>
                <img src="~/image/Product/Product5.jpg" alt="">
                <h3> لیپ بالم ترمیم کننده هیدرودرم</h3>
                <div>
                    <h4>52,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product6.jpg" alt="">
                <h3>پرایمر صورت بایوتیک پوست چرب ژنو</h3>
                <div>
                    <h4>172,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product7.jpg" alt="">
                <h3>پرایمر بلک دایموند مای</h3>
                <div>
                    <h4>180,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product8.jpg" alt="">
                <h3>ریمل نانو ام تو بیوتی</h3>
                <div>
                    <h4>950,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product9.jpg" alt="">
                <h3> ریمل بلند کننده این لی</h3>
                <div>
                    <h4>90,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <img src="~/image/Product/Product10.jpg" alt="">
                <h3> رژ لب آمور کاپریس</h3>
                <div>
                    <h4>190,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product11.jpg" alt="">
                <h3> پودر برنز کاپریس</h3>
                <div>
                    <h4>399,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product12.jpg" alt="">
                <h3> برس فوق العاده کرم پودر آرت دکو</h3>
                <div>
                    <h4>290,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product13.jpg" alt="">
                <h3> برس فوق العاده کرم پودر آرت دکو</h3>
                <div>
                    <h4>273,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
            <li>
                <img src="~/image/Product/Product14.jpg" alt="">
                <h3>خط چشم مویی مای</h3>
                <div>
                    <h4>100,000</h4>
                    <img src="~/image/buy.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</main>

