<div class="dashboard-top">
    <div>
        <ul>
            <li>داشبورد  |  ناحیه کاربری</li>
            <li>
                <span>جمعه</span>
                <span>13 : 13</span>
                <span>5 / 12 / 1401</span>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="btn">
                @Html.ActionLink("مشاهده سایت", "Index", "Home",null, new { @class = "btn-color" })


                
            </li>
            <li class="btn">دیدگاه های تایید نشده</li>
            <li class="btn">سفارشات جدید</li>
            <li class="btn">بازدید ها</li>
        </ul>
    </div>
</div>